RewriteEngine on
RewriteCond %{HTTP_HOST} ^http://inscricoes.congressodefamilias.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^http://inscricoes.congressodefamilias.com.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]